$green: #49aa45;
$gray333: #333333;


*{
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

#banner {
    background-image: url(./img/invalid-name.png);
    width:1920px;
    height:1280px ;
    background-repeat: no-repeat;
    //格線會將子元素改為區塊元素
    display: grid;
    align-items: center;

    //行內元素
    img{
        //區塊才可使用
        margin: 0 auto;
    }
}

nav{
    position: fixed;
    width: 1920px;

    a {
        text-decoration: none;
        color: white;
    }

    // 導覽列內的盒子
    #box {
        margin: 59px auto 0;
        width: 1200px;
        display: grid;
        grid-template-columns: 204px 351px 398px 120px 110px;

        #link {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            //垂直對齊底線
            align-items: flex-end;

            a {
                font-size: 18px;
                font-weight: 100;

                &:nth-child(2){
                    text-align: center;
                }
                &:nth-child(3){
                    text-align: right;
                }
            }
        }
        
        #social {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            a:nth-child(2) {
                text-align: right;
            }
        }
    }
}


    #contant{
        width: 1920px;
        background-image: url(./img/paper.png);
        border: 0.1px solid rgba(0,0,0,0);


        h1{
            text-align: center;
            margin-top: 46px;
            margin-bottom: 60px;
            font-weight: 300;
            letter-spacing: 9.6px;
            font-size: 32px;
        }

        #news {
            width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
    
            div {
                background-color: white;
                padding: 30px 30px;
    
                h3 {
                    color: $green;
                    font-size: 18px;
                    font-weight: 300;
                    letter-spacing: 3.6px;
                    text-align: center;
                    margin-bottom: 15px;
                }
    
                h4 {
                    font-size: 22px;
                    font-weight: bold;
                    letter-spacing: 5.5px;
                    text-align: center;
                }
                
                p {
                    color: $gray333;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 1.88;
                    letter-spacing: 4.8px;
                    margin: 28px 0 31px;
                }
            }
        }
    }

    #drink {
        text-align: center;
        position: relative;
        margin: 0 atuo;

        div {
            width: 220px;
            height: 400px;
            position: absolute;
            top:73px;
            right:530px;

            h4{
                font-size: 30px;
                font-weight: 450;
                letter-spacing: 8px;
                color: #f5bb28;
                margin-bottom: 30px;
            }

            h5{
                color: #cccccc ;
                letter-spacing: 3px;
            }
            p {
                color: $gray333;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.88;
                letter-spacing: 4.8px;
                margin: 28px 0 31px;
            }
        }


        
    }

    #compny {
        width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 620px auto;
        grid-gap: 20px;
        padding-right: 20px;
        img {
            width: 100%;
            border: 10px solid white;
        }

        h2 {
            font-size: 22px;
            font-weight: 300;
            letter-spacing: 7.2px;
        }

        p {
            margin: 51px 0;
            font-size: 20px;
            font-weight: 300;
            line-height: 2.5;
            letter-spacing: 6px;
        }

        a {
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 5.4px;
            text-decoration: none;
            padding: 17px 67px;
            border: 2px solid $black25;
            color: $black25;
        }


    }
